.content {
    background-color: #f3f3f3;
    border-top-right-radius: 15px;
    // overflow: scroll;
    // overflow-x: hidden;

    // position: absolute;
    // top: 51px;
    // bottom: 0;
    // left: 80px;
    // right: 0;
    
    // padding: 20px;

    flex: 1;

    .content-wrapper {
        padding: 0 20px;
    }
}