.myEditor {
	a {
		color: #0081FF;
		&:hover {
			color: #5aaeff;
		}
	}

	.md-menubar{
		background: #fff;
		border: 1px solid #ccc;
		.md-toolbar,
		.md-modebar {
			padding-left: 0;
			margin: 0;
			width: 50%;
			list-style: none;
			overflow: hidden;
			.tb-btn {
				float: left;
				&.spliter{
					border-left: 1px solid #ccc;
					margin: 4px 5px;
					height: 24px;
				}
				a{
					display: block;
					padding: 4px 10px;
					color: #333;
					cursor: pointer;
					&.active {
						color:#0058ff;
					}
				}
			}
		}
		.md-toolbar{
			border-right: 1px solid #ccc;
		}
		
		.md-toolbar {
			float: left;
		}
		.md-modebar {
			float: right;
		}
	}
	
	// 默认分屏模式
	.md-editor {
		border: 1px solid #ccc;
		border-top: none;
		height: 530px;

		.md-area,
		.md-shower{
			float: left;
			width: 50%;
			height: 100%;
			transition: all .5s ease-in;
		}

		.md-area {
			border-right: 1px solid #ccc;
		}
		.md-shower {
			// height: 530px;
			overflow: auto;
			background-color: #f3f3f3;

			img{
				width: 100%;
			}
		}

		.md-content,
		.md-shower {
			padding: 10px 20px;
		}
		.md-content {
			width: 100%;
			height: 100%;
			font-size: 18px;
			resize: none;
			border: none;
			
			&:focus {
				outline: none;
			}
		}

		/* 编辑模式 */
		&.edit {
			.md-area {
				border-right: none;
				width: 100%;
			}
			.md-shower {
				width: 0;
				height: 0;
				padding: 0;
			}
		}
		/* 预览模式 */
		&.preview {
			.md-area {
				border-right: none;
				width: 0;
				height: 0;
				padding: 0;
			}
			.md-shower {
				width: 100%;
			}
		}
	}
	&.fullscreen {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
		
		background: #fff;

		.md-editor {
			min-height: 100%;
		}
	}	
}