.myEditor {
	position: relative;
	flex: 1;

	a {
		color: #0081FF;
		&:hover {
			color: #5aaeff;
		}
	}

	.md-menubar{
		background: #fff;
		border: 1px solid #ccc;
		height: 32px;
		.md-toolbar,
		.md-modebar {
			padding-left: 0;
			margin: 0;
			width: 50%;
			list-style: none;
			overflow: hidden;
			.tb-btn {
				float: left;
				&.spliter{
					border-left: 1px solid #ccc;
					margin: 4px 5px;
					height: 24px;
				}
				a{
					display: block;
					padding: 4px 10px;
					color: #333;
					cursor: pointer;
					&.active {
						color:#0058ff;
					}
				}
			}
		}
		.md-toolbar{
			border-right: 1px solid #ccc;
		}
		
		.md-toolbar {
			float: left;
		}
		.md-modebar {
			float: right;
		}
	}
	
	// 默认分屏模式
	.md-editor {
		position: absolute;
		left: 0;
		right: 0;
		top: 32px;
		bottom: 0;

		border: 1px solid #ccc;
		border-top: none;

		.md-area,
		.md-shower{
			float: left;
			width: 50%;
			height: 100%;
			font-size: 16px;
			line-height: 30px;
			text-align: justify;
			color: #2f2f2f;
			
			p {
				margin-bottom: 25px;
			}
			transition: width .5s ease-in;
		}

		.md-area {
			border-right: 1px solid #ccc;
		}
		.md-shower {
			// height: 530px;
			overflow: auto;
			background-color: #f3f3f3;

			img{
				display: block;
				max-width: 100%;
				height: auto;
				padding: 4px;
				border: 1px solid #ccc;
			}

			// font-size: 16px;
			// line-height: 30px;
			// text-align: justify;
			
			// p {
			// 	margin-bottom: 15px;
			// }
			h1,
			h2{
				font-size: 1.5em;
				line-height: 2;
				padding-top: 25px;
				border-bottom: 1px solid #e2e2e2;
			}
			h2,
			h3,
			h4 {
				margin-bottom: 15px;
				font-weight: normal;
			}
			h3 {
				padding-top: 20px;
				font-size: 1.35em;
			}
			
			hr {
				margin-bottom: 30px;
				height: 4px;
				border: none;
				background-image: -webkit-linear-gradient(left, #003973, #e5e5be);
				background-color: #ccc;
				margin-left: -5px;
				margin-right: -5px;
			}

			blockquote {
				padding: 20px 20px 20px 20px;
				background: #fbfbfb;
				border: 1px dashed #b9d5ff;
				border-width: 1px 0;
				font-family: monospace;
				position: relative;
				// margin-top: 42px;
				p {
					margin-bottom: 0;
				}
			}
		}

		.md-content,
		.md-shower {
			padding: 10px 20px;
		}
		.md-content {
			width: 100%;
			height: 100%;
			font-size: 1em;
			line-height: 1.5;
			vertical-align: middle;
			resize: none;
			border: none;
			
			&:focus {
				outline: none;
			}
		}

		/* 编辑模式 */
		&.edit {
			.md-area {
				// opacity: 1;				
				border-right: none;
				width: 100%;
			}
			.md-shower {
				opacity: 0;				
				width: 0;
				height: 0;
				padding: 0;
			}
		}
		/* 预览模式 */
		&.preview {
			.md-area {
				// opacity: 0;
				border-right: none;
				width: 0;
				height: 0;
				padding: 0;
			}
			.md-shower {
				// opacity: 1;
				width: 100%;
			}
		}
	}
	&.fullscreen {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;

		display: flex;
    	flex-direction: column;
		
		background: #fff;

		.md-menubar {
    		flex: 0 0 32px;
		}

		.md-editor {
			flex:1;
		}
	}	
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;

	.hljs-comment,
	.hljs-quote {
	color: #5c6370;
	font-style: italic;
	}

	.hljs-doctag,
	.hljs-keyword,
	.hljs-formula {
	color: #c678dd;
	}

	.hljs-section,
	.hljs-name,
	.hljs-selector-tag,
	.hljs-deletion,
	.hljs-subst {
	color: #e06c75;
	}

	.hljs-literal {
	color: #56b6c2;
	}

	.hljs-string,
	.hljs-regexp,
	.hljs-addition,
	.hljs-attribute,
	.hljs-meta-string {
	color: #98c379;
	}

	.hljs-built_in,
	.hljs-class .hljs-title {
	color: #e6c07b;
	}

	.hljs-attr,
	.hljs-variable,
	.hljs-template-variable,
	.hljs-type,
	.hljs-selector-class,
	.hljs-selector-attr,
	.hljs-selector-pseudo,
	.hljs-number {
	color: #d19a66;
	}

	.hljs-symbol,
	.hljs-bullet,
	.hljs-link,
	.hljs-meta,
	.hljs-selector-id,
	.hljs-title {
	color: #61aeee;
	}

	.hljs-emphasis {
	font-style: italic;
	}

	.hljs-strong {
	font-weight: bold;
	}

	.hljs-link {
	text-decoration: underline;
	}
}

