.table-wrapper {
    max-height: 800px;
    overflow: auto;
}

.table {
    
    // a {
    //     color: #0343bb;
    //     &:hover {
    //         color: inherit;
    //         text-decoration: underline;
    //     }
    // }
    thead {
        th {
            border-top: none;
        }
    }

    .postNum {
        &>a{
            color: red;
            :hover {
                color: red;
            }
        }
    }
    input {
        width: 150px;
        background-color: #f3f3f3;
        border: none;
        padding-left: 0;
        font-size: 1em;
    }
    a.btn {
        margin-right: 5px;
    }
}