@import "helpers/parameters";

@media screen and (max-width: $tablet){
    .navbar-wrap {
        width: 75px;

        h1 {
            display: none;
        }
        .navbar {
            .main-nav {
                margin-top: 100px ;
                li {
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    a {
                        display: inline;
                        i {
                            margin-right: 0;
                        }
                        span.text {
                            display: none;
                        }
                    }
                }
            }
            .sider-nav {
                margin: 0;
                a {
                    display: block;
                }
            }
        }
        .search-wrap{
            display: none;
        }
    }

    .main {
        padding-left: 115px;

        .tools-wrap {
            width: 30px;
            right: 10px;

            .icon-totop,
            .icon-comment {
                height: 30px;
                line-height: 30px;
                font-size: 1em;
            }
        }
    }
    
}

@media screen and (max-width: $mobile) {
   .navbar-wrap { 
       top: 0;
       width: 100%;
       height: auto;
       text-align: center;
       border-bottom-left-radius: 40px;
       border-bottom-right-radius: 40px;

        &:hover {
            background-position-x: 0;
        }

       .navbar {
           margin: 0;

           .main-nav {
               margin: 0;

                &>li {
                    display: inline-block;
                    width: auto;
                    margin-right: 30px;
                }
           }

           .sider-nav {
               display: none;
           }
       }
   }

   .main {
       padding: 62px 45px 0 45px;

       .date {
           display: none;
       }
       
       .post-toc {
            top: 95px !important;
            right: 10px !important;
        }
   }
}


@media screen and (max-width: 1660px){
    .post-toc {
        // right: 10px !important;
        .post-toc-dropdown{
            display: block !important;
        }
        .post-toc-content{
            display: none;
            &.active {
                display: block !important;
                margin-top: 30px !important;
            }
        }
    }
}