@import "helpers/parameters";

main>.tags {
    a {
        display: inline-block;
        border: 1px solid $color-a-default;
        border-radius: 4px;
        color: $color-a-default;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        margin: 0 15px 10px 0;
        padding: 0 15px;
    }
}