@import "helpers/parameters";

.post-list{
   
    .post-item {
        padding: 30px 0;
        border-bottom: 1px solid $color-border-default;
        border-top: 1px solid #fff;

        &:first-child{
            padding-top: 0;
        }
        
        &-title{
            display: inline-block;
            margin: 0;
            margin-bottom: 10px;
            font-size: 1.7em;
            a {
                color: $color-title-default;
            }
            &:hover a{
                color: $color-title-hover;
            }
        }

        &-meta {
            float: right;
            font-size: .9em;
            line-height: 33px;
            color: #555;
        }

        &-category {
            font-size: .9em;

            display: inline-block;
            border: 1px dashed $color-a-default;
            border-radius: 4px;
            font-size: 14px;
            // height: 40px;
            // line-height: 40px;
            // margin: 0 15px 10px 0;
            margin-bottom: 15px;
            padding: 2px;
            color: $color-a-default;

             &:hover {
                border: 1px solid $color-a-hover;
            }
        }
        
        &-summary {
            font-size: 16px;
            line-height: 1.8;
            color: $color-p-default;
            h1,
            h2 {
                font-size: 1.5em;
            }
            h3 {
                font-size: 1.3em;
            }
        }

        &:last-child {
            border: none;
        }
    }

    .post-null {
        h3 {
            font-size: 1.3em;
        }
    }
}