@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1491117375252'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1491117375252#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1491117375252') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1491117375252') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1491117375252#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e677"; }

.icon-user:before { content: "\e62a"; }

.icon-github:before { content: "\e6ed"; }

.icon-home:before { content: "\e885"; }

.icon-zliconweibo01:before { content: "\e64b"; }

.icon-rss:before { content: "\ea5a"; }

.icon-archive:before { content: "\e6b6"; }

.icon-tags:before { content: "\e608"; }

.icon-category:before { content: "\e60d"; }

.icon-totop:before { content: "\e655"; }

.icon-totop1:before { content: "\e60e"; }

.icon-comment:before { content: "\e612"; }