a,
a:hover {
    color: #42b983;
    text-decoration: none;
}

.allTags{
    h2 {
        font-size: 1.7em;
        font-weight: bold;
    }

    .tagList {
        overflow: hidden;

        a {
            float: left;
            margin-left: 1.1em;
            font-size: 1.1em;
            font-weight: bold;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.tag {

    &>h2 {
        font-size: 22px;
        font-weight: bold;

        &::before {
            position: absolute;
            left: 0;
            content: "#";
            color: #42b983;
        }
    }

    .post {
        margin-bottom: 10px;
        .time {
            margin:10px;
            color: #7f8c8d;
        }
    }
}
