// Colors
$color-default: #666;
// $color-a-default: #007EA7;
$color-a-default: #00A8E8;
// $color-a-hover: #00A8E8;
$color-a-hover: #007EA7;
$color-a-active: #00171F;
$color-code:#2479cc;
$color-code-backgroud:#f2f2f2;
$color-border-default: #ddd;

$color-nav-default: #fff;
$color-nav-backgroud:#222;

$color-body-default: #fff;
$color-title-default: #007EA7;
$color-title-hover: #00A8E8;
$color-p-default: #666;

%post-meta {
    float: right;
    font-size: .9em;
    line-height: 2;
    color: #555;
}

%post-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.7em;
}

// 响应式变量
$tablet: 1024px;
$mobile: 768px;