@import "helpers/parameters";

body,
html,
#root{
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: $color-default;
    background-color: $color-body-default;
}

a, 
a:visited, 
a:link, 
a:active {
    color: $color-a-default;
    transition: color .3s ease;
    text-decoration: none; 

    &:hover {
        color: $color-a-hover;
    }
}

.main {
    padding-left: 290px;
    padding-right: 60px;
    max-width: 1390px;
    overflow: hidden;
    
    .animation-wrap{

        section {
            padding-bottom: 30px;

            .title {
                padding-top: 30px;
                margin-bottom: 25px;
                font-size: 2em;
                line-height: 35px;
                font-weight: 300;
                color: $color-title-default;

                .tag-name {
                    color: $color-a-default;
                }
            }
        }
    }
    
}

.footer {
    border-top: 1px solid #fff;
    font-size: .9em;
    line-height: 1.8;
    padding: 15px;
    text-align: center;

    &>a {
        color:$color-a-default;
    }
}



// .page-appear {
//     opacity: 0.01;
//     // margin-left: 100%;
//     -webkit-transition: all 1.5s ease 1.5s;
//     transition: all 1.5s ease 1.5s;
// }

// .page-appear.page-appear-active {
//     // margin-left: 0px;
//     opacity: 1;
// }

.page-enter {
    opacity: 0;
    transform: translate(50%,0);
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.page-enter.page-enter-active {
    transform: translate(0,0);
    opacity: 1;
}

.page-leave {
    opacity: 1;
    transform: translate(0,0);
}

.page-leave.page-leave-active {
    opacity: 0;
    transform: translate(50%,0);
    // transition: opacity 300ms ease-in;
}
